.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/Default_NASA_space_rocket_starting_from_launchpad_in_night_cle_0_f2554a3f-3e81-49e2-80e2-aab08a70387c_0.jpg");
	background-position: top;
	background-size: cover;
}

.headerText {
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	font-size: 6em;
	font-weight: 100;
	letter-spacing: 0.4em;
	color: rgb(255, 255, 255);
	text-shadow: 4px 4px 4px rgb(0, 0, 0);
	cursor: pointer;
}

.headerInput {
	padding: 20px 10px;
	margin-top: 0.8em;
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid rgb(255, 255, 255);
	font-size: 50px;
	outline: none;
	font-weight: 100;
	color: white;
	transition-property: border, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.scale {
	scale: 1;
	transition: scale 0.2s ease-in-out;
}

.scale:focus {
	scale: 1.1;
}

.headerInput:focus {
	border-bottom: 3px solid rgb(128, 196, 255);
	background-color: rgba(0, 0, 0, 0.2);
}

.headerInput::placeholder {
	color: rgb(255, 255, 255);
	opacity: 0.6;
}
