.modal {
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw !important;
	height: 100vh !important;
	top: 0vw;
	left: 0vw;
	padding: 3vw;
	cursor: default;
}

.container {
	margin: auto;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	box-shadow: 4px 4px 20px -10px rgba(0, 0, 0, 1);
	width: 80vw;
	height: 88vh;
}

.container img {
	text-align: justify;
	box-shadow: 4px 4px 22px -8px rgba(0, 0, 0, 1);
	min-width: 15%;
	max-width: 40%;
	max-height: 90%;
	margin: 1vw;
}

.text {
	max-height: 90%;
	margin: 1vw;
	width: 40%;
	text-wrap: wrap;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

@media only screen and (max-width: 1024px) {
	.container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 10vw;
	}

	.container img {
		min-width: 15%;
		max-width: 90%;
		max-height: 50%;
	}

	.text {
		width: 90%;
		margin: 1vw;
	}
}